@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Barlow:wght@200&family=Inconsolata&family=Karla:ital,wght@0,700;1,300&family=Nanum+Gothic&family=Pixelify+Sans&family=Ysabeau+Office:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* Register and Login Styles Start*/
.full-container{
  background-color: #00a18c;
  object-fit: fill;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.heading-container{
  margin-left: 10vw;
}

.container {
  background-color: #00a18c;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 7vw;
  /* background: linear-gradient(to right, #96dfc6, #d2ffe3); */
  background-color: rgb(150, 223, 198, 0.8);
  border: 0px solid black;
  border-radius: 25% 2% 30% 10%;
}

Input {
  /* margin: 10px; */
  padding: 10px;
  transition: transform 0.3s;
}

.emailInput,
.passwordInput,
.submit-button {
  margin: 10px;
}

Input:hover {
  transform: scale(1.1);
}

.err {
  text-align: center;
  color: rgb(82, 0, 0);
}

.login-heading {
  font-family: 'Pixelify Sans', cursive;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .full-container{
    flex-direction: column;
  }
  .heading-container{
    margin: 20px;
  }
}

@media screen and (max-width: 480px) {
  .login-heading {
    font-size: 40px;
  }
}
/* Register and Login Styles End*/

/* Navbar Style Start */

.navbar {
  /* background: linear-gradient(to right, #e39dff, #5816ff); */
  /* background: linear-gradient(to right, #96dfc6, #d2ffe3); */
  background-color: #9DDAC6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-heading {
  font-family: 'Pixelify Sans', cursive;
}

.navbar-button {
  margin: 5px;
  padding: 5px;
  transition: transform 0.3s;
}

.navbar-button:hover {
  transform: scale(1.1);
}

.navbar-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links li a {
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  padding: 10px;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.show{
  text-decoration: underline;
  color: rgb(4, 4, 119);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline;
}

button {
  border: 1px dotted black;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
  background-color: #d8fff2;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #00a18c;
  z-index: 2;
  transition: left 0.3s ease-in-out;
}

.open {
  left: 0;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link {
  margin: 10px;
}

.link a {
  color: black;
  text-decoration: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.close-button {
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.open-button {
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.add-filter{
  width: 18vw;
  height: 4vh;
  margin: 0;
}

/* Navbar Style End */

/* Cards Style Start */

.cards {
  background-color: #00a18c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  display: inline-block;
  /* background: linear-gradient(to right, #e39dff, #5816ff); */
  /* background: linear-gradient(to right, #CDFAD5, #F6FDC3); */
  background-color: #9DDAC6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.2s;
  width: 15vw;
  min-width: 100px;
}

.product:hover {
  transform: scale(1.1);
}

.product-image {
  width: 100%;
  height: 29%;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product h2 {
  margin: 10px 0;
}

.product p {
  margin: 10px 0;
  overflow:visible;
}

.add-to-cart{
  width: 8vw;
  height: 5vh;
}

.footer {
  text-align: center;
  font-size: larger;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.2);
}

.history-container{
  background-color: #00a18c;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.hist-prod-container{
  margin-left: 7vw;
}

/* Cards Style End */

@media screen and (min-width: 768px) {
  .navbar-links li {
    margin-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-Input{
    width: 100%;
  }
  .navbar-links {
    margin-top: 10px;
  }

  .navbar-links li {
    margin: 5px;
  }
}